body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainBody {
    width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#imagesGrid {
    width: 100%;
    border-collapse: collapse;
}

#imagesGrid td {
    padding: 10px;
}

#imagesGrid img {
    width: 100%;
    max-width: 200px;
    height: auto;
    transition: all 0.3s ease;
}

#imagesGrid img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
